# .gitattributes
* text=auto eol=lf

# archives
*.7z binary
*.gz binary
*.rar binary
*.tar binary
*.zip binary

# documents
*.pdf binary

# executables
*.exe binary

# fonts
*.eot binary
*.otf binary
*.ttf binary
*.woff binary
*.woff2 binary

# graphics
*.bmp binary
*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.png binary
*.svg binary
*.tif binary
*.tiff binary
